{% extends 'main.html' %}
{% load static %}
{% block title %} - Bring More Customers to Your Store and Keep Them Coming Back!{% endblock %}
{% block keyword %}{% endblock %}
{% block description %}{% endblock %}

{% block content %}
<!-- Pricing Plan -->
<section class="pricing_plan pp_2" id="pricing" style="margin-top: 20px;">
    <div class="container">
        <div class="tittle">
            <h2>Pricing Plan</h2>
            <p>Select Your Favourable Pricing Plan</p>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


            {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="plan plan_3">
                    <h3>Platninum<br/> <b>125,000 ksh</b></h3>
                    <h6>renewable yearly and you get</h6>
                    <ul>
                        <li>unlimitted qr codes</li>
                        <li>unlimittted challanges </li>
                        <li>We manage conntent clippers for you</li>
                        <li>We shoot videos For you</li>
                        <li>1 staff to attract clients into the store</li>
                        <li>1 sound system to attract clients into the store</li>
                        <li>Challenges Display board</li>
                        <li>2 months full money back guarantee</li>
                    </ul>
                    <a href="{% url 'add_business' %}?pricing_plan=platinum" class="theme_btn">Start now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="plan  active plan_2">
                    <h3>Starndard<br/> <b>22,500 ksh.</b></h3>
                    <h6>renewable semi-annually and you get</h6>
                    <ul>
                        <li>unlimitted qr codes</li>
                        <li>unlimittted challanges </li>
                        <li>access to conntent clippers</li>
                        <li>support in getting video creators</li>
                        <li> or 1 sound system to attract clients into the store</li>
                        <li>1 challenge display board</li>
                        <li>2 months full money back guarantee</li>
                    </ul>
                    <a href="{% url 'add_business' %}?pricing_plan=starndard" class="theme_btn">Start now</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeIn">
                <div class="plan plan_2">
                    <h3>Starter<br/> <b>3,500 ksh.</b></h3>
                    <h6>renewable monthly and you get</h6>
                    <ul>
                        <li>unlimitted qr codes</li>
                        <li>unlimittted challanges </li>
                        <li>Support in Getting video creators</li>
                        <li>Support in acquiring conntent clippers</li>
                    </ul>
                    <a href="{% url 'add_business' %}?pricing_plan=starter" class="theme_btn">Start now</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Pricing Plan -->

{% endblock %}