{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- popup register -->

<!-- Get In Touch With Us Area -->
<section class="get_touch_area" style="padding-top: 120px;">
    <div class="row" style="justify-content: center;">
        
        <div class="col-lg-6 " >
            <div class="row" style="justify-content: center;"><b>Submit Your Video URL Link</b></div>
            <div class="from_area">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="from_main" action="{% url 'submit_video_url' challenge.id %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="url" name="video_url" class="form-control mb-1" placeholder="(optional) provide a link to your video you would want craetors to recreate their videos from" required>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            provide a link to the video you created for the challenge
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            makesure you have gone through the challenge brief and rules
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    
                    <div class="form-group m-0 btn_g">
                        <button class="theme_btn btn" id="registerButton" type="submit" >submit</button>
                    </div>
                </form>
        </div>

        
    </div>
</section>
<!-- Get In Touch With Us Area -->
<script>
    // Add an event listener to the form submission
    document.addEventListener('DOMContentLoaded', function () {
        const loginButton = document.getElementById('registerButton');
        const form = loginButton.closest('form'); // Find the closest form element

        if (form) {
            form.addEventListener('submit', function () {
                // Disable the button
                loginButton.disabled = true;

                // Update the button text
                loginButton.textContent = "submitting your video url ...";
            });
        }
    });
</script>
{% endblock %}
